<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="user">
      <ion-grid>
        <ion-row *ngIf="user.photo">
          <ion-col><ion-item><ion-img [src]="'data:image/jpg;base64,' + user.photo" alt="{{'Photo indisponible'}}"></ion-img></ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Nom</ion-item></ion-col>
          <ion-col><ion-item>{{user.lastname}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Prénom</ion-item></ion-col>
          <ion-col><ion-item>{{user.firstname}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Date de naissance</ion-item></ion-col>
          <ion-col><ion-item>{{user.birthdate|date:'dd-MM-YYYY'}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Email</ion-item></ion-col>
          <ion-col><ion-item>{{user.email}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item><ion-img src="{{'data:image/jp;base64,' + user.qr}}" alt="Qr code non disponible"></ion-img></ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-item>Ceinture</ion-item></ion-col>
          <ion-col><ion-item>{{user.id_grade.belt}}</ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-col>Changer la photo:</ion-col>
            <ion-col>
                <ion-button (click)="takePic()">Caméra</ion-button>
                <ion-button (click)="uploadPic()">Gallerie</ion-button>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
