<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-text>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus eros est, eget pretium risus hendrerit a. Mauris malesuada fringilla eros, vel congue purus iaculis eget. In molestie erat nec tortor mollis sodales. Sed et magna et nunc molestie porta. Ut dictum vel lectus sed tristique. Donec maximus porttitor dui id porttitor. Nullam commodo diam sed ipsum vehicula viverra. Etiam quis dolor sit amet leo tincidunt sollicitudin eget aliquet massa. Duis dictum condimentum mauris.
      Nullam vestibulum elit velit, eget semper sapien viverra id. Suspendisse id nisi rutrum ligula sollicitudin consequat. Nulla eu elit nisi. Phasellus in dignissim risus. Nullam congue faucibus commodo. Aliquam congue elit rhoncus felis malesuada, vel pretium nisl ornare. Vivamus vehicula dictum urna, quis lobortis elit convallis ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas faucibus lectus at velit sagittis dictum. In eleifend ligula eget massa scelerisque ultricies. Aliquam consectetur risus nibh, at ornare urna semper eu. Nam malesuada, enim non viverra ullamcorper, nibh magna luctus leo, non auctor ipsum mauris sit amet neque.
    </p>
  </ion-text>
</ion-content>
