<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-img src="../../assets/images/homeLogo.jpg" alt="Logo du club"></ion-img>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-card-header>
            <ion-card-title>Bienvenu.e sur l'app TKDW 2.0!</ion-card-title>
          </ion-card-header>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>