<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="email" type="text" placeholder="Email" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" placeholder="Mot de passe" ngModel required></ion-input>
      </ion-item>
      <div class="centered-button">
        <ion-button name="connexion" (click)="logIn()">Connexion</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>